* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
nav {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  font-family: cursive;
  padding: 2% 5%;
}
.nav__menu ul {
  display: inline-block;
}

.nav__menu ul li {
  padding: 0 10px;
}
.nav__menu ul li a {
  cursor: pointer;
  color: #ffffff;
}

.nav__menu ul li a:hover {
  color: gray;
}
.nav__login {
  display: flex;
  flex-direction: row;
}

.nav__login__line {
  height: 18px;
  width: 0.2px;
  background-color: gray;
}
.nav__login-registration,
.nav__login-book__table {
  margin: 0 5px;
  padding-bottom: 2%;
  transition: 0.5s ease;
  cursor: pointer;
}

.nav__login-registration:hover,
.nav__login-book__table:hover {
  border-bottom: 1px solid #dcca87;
}

.hamburger {
  display: none;
}

.hamburger span {
  width: 28px;
  height: 2px;
  background-color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  background: #0c0c0c;
}

.header__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header__section-sub__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10%;
}
.header__section-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__section-title img {
  margin-top: 2%;
}

.header__section-detail {
  color: #dcca87;
  font-size: 2.5rem;
  padding-top: 5%;
  margin-bottom: 5%;
}

.header__section-welcome__img {
  max-width: 600px;
  max-height: 600px;
}

.header__section-welcome__img img {
  width: 100%;
  height: 100%;
}
.header__section-text {
  color: #aaaaaa;
  margin-bottom: 7%;
  max-width: 400px;
}
